/* HelpModal.module.css */

/* Overlay do modal */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contêiner principal do modal */
.modal {
    position: relative;
    display: flex;
    width: 80%;
    max-width: 1000px;
    height: 70vh;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Sidebar para navegação entre abas */
.sidebar {
    background-color: #142247;
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 100%;
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tabButton {
    font: 400 16px/1.5 Roboto, sans-serif;
    color: white;
    background: none;
    border: none;
    text-align: left;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.2s ease;
}

.tabButton:hover,
.tabButton.active {
    background-color: #34495e;
    transform: scale(1.02);
    font-weight: bold;
}

/* Estilo para a seta */
.arrow {
    font-size: 12px;
    margin-left: 8px;
}

/* Conteúdo principal do modal */
.content {
    flex: 1;
    padding: 20px 40px;
    overflow-y: auto;
}

.content h3 {
    font: 700 22px Roboto, sans-serif;
    color: #142247;
    margin-bottom: 10px;
}

.content p {
    font: 400 16px Roboto, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Conteúdo do texto */
.contentText {
    font-size: 18px;
    line-height: 1.2;
    color: #333;

    /* Mantém as quebras de linha */
}

/* Negrito para títulos e subtítulos */
.contentText strong {
    font-weight: bold;
}

/* Estilos para listas */
.contentText ul {
    margin: 30px 0;
    padding-left: 40px;
    list-style-type: disc;
}

.contentText li {
    margin-bottom: 20px;
}

/* Estilo de parágrafos */
.contentText p {
    font-size: 18px;
    margin-bottom: 10px;
}


/* Botão de fechar o modal */
.closeButton {
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: #144792;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font: 400 16px Roboto, sans-serif;
    cursor: pointer;
    transition: background 0.3s ease;
}

.closeButton:hover {
    background-color: #142247;
}

/* Container dos subitens na sidebar */
.subTabContainer {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    /* Coloca subitens em coluna */
}

/* Botão dos subitens */
.subTabButton {
    font: 400 14px/1.5 Roboto, sans-serif;
    color: #d1d1d1;
    background: none;
    border: none;
    text-align: left;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.subTabButton:hover,
.subTabButton.active {
    background-color: #34495e;
    color: #ffffff;
}