/* Estiliza o fundo escurecido */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Estiliza o conteúdo do modal */
  .modalContent {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-width: 100%;
    z-index: 1001;
  }
  
  /* Estiliza o formulário */
  .formContainer {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .formContainer h2{
    text-align: center;
  }
  
  /* Estiliza os grupos de inputs */
  .formGroup {
    margin-bottom: 16px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formGroup input,
  .formGroup select {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: 400 17px/1 Roboto, sans-serif;
    color: #666;
  }
  
  /* Estiliza os botões de ação */
  .formButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .btnSubmit, .btnBack {
    padding: 10px 20px;
    font: 400 17px/1 Roboto, sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    width: 40%;
  }
  
  .btnSubmit{
    background-color: #156cdd;
    color: white;
  }

  .btnBack{
    background-color: #ccc;
    color: black;
  }

  .formButtons button:hover {
    opacity: 0.8;
  }