.formContainer {
    max-width: 50%;
    margin: 40px auto;
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #f9f9f9;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }

  .pageTitle {
    color: #000;
    letter-spacing: 0.5px;
    font: 400 24px/1 Roboto, sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 0px 44px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  select {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: 400 17px/1 Roboto, sans-serif;
    color: #666;
    
  }
  
  .formRow {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  
  .formRow .formGroup {
    flex: 1;
  }
  
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: 400 17px/1.5 Roboto, sans-serif;
    color: #666;
    resize: vertical; /* Permite o redimensionamento vertical */
    min-height: 100px; /* Altura mínima para uma exibição mais alta */
  }

  .formButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btnSubmit,
  .btnBack {
    background-color: #14458e;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
    font: 400 17px/1 Roboto, sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 16px 12px;
    width: 100%;
  }
  
  .btnSubmit{
    width: 33%;
  }

  .linkBtn {
    width: 33%;
    display: inline-block;
  }
  
  .formNote {
    font-size: 0.875rem;
    color: #666;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  