.secretariasModule {
    background-color: #fff;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 56px;
    display: flex;
    }
    
    .contentWrapper {
      flex: 1;
      padding: 0 44px;
    }
    
    .listSection {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2%;
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    
    .pagination button {
      background-color: #156cdd;
      color: white;
      border: none;
      padding: 10px 20px;
      margin: 0 5px;
      cursor: pointer;
      border-radius: 30px;
    }
    
    .pagination button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
    
    .pagination span {
      margin: 0 10px;
      font: 400 17px/1 Roboto, sans-serif;
      letter-spacing: 0.5px;
      text-align: center;
    }
  
    .backButton {
      align-self: center;
      background-color: #156cdd;
      border: none;
      border-radius: 30px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: #fff;
      cursor: pointer;
      font: 400 17px/1 Roboto, sans-serif;
      letter-spacing: 0.5px;
      margin-top: 18.75px;
      padding: 16px 12px;
      text-align: center;
      width: 375px;
    }

    .listTitle {
      color: #000;
      letter-spacing: 0.5px;
      font: 400 24px/1 Roboto, sans-serif;
      margin-bottom: 40px;
      margin-top: 40px;
    }