.card {
    display: flex;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    margin-bottom: 2%;
    width: 100%;
  }
  
  .avatar {
    width: 75px;
    height: 75px;
    object-fit: contain;
    align-self: center;
    padding: 0px 25px;
  }
  
  .cardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px #000 solid;
  }
  
  .cardDetails {
    display: flex;
    font-size: 17px;
    color: #000;
    line-height: 22px;
    font: 400 17px/1 Roboto, sans-serif;
  }
  
  .info, .cardSideSection {
    width: 33%;
    padding: 0px 20px;
    justify-self: center;
    flex-direction: column;
  }

  .cardSideSection{
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
  }

  .descrTec{
    width: 100%;
    font: 400 17px/1 Roboto, sans-serif;
    letter-spacing: 0.5px;
    text-align: start;
    margin: 17px 0px 17px 0px;
  }
  
  .actions {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .botaoAceitar,
  .botaoRejeitar {
    align-self: center;
    background-color: #156cdd;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
    font: 400 17px/1 Roboto, sans-serif;
    letter-spacing: 0.5px;
    padding: 16px 12px;
    text-align: center;
    width: 75%;
  }

  .botaoAceitar
  {
    margin-bottom: 17px;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Estilos do modal */
  .modal {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  /* Estilos dos botões de ação do modal */
  .modalActions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .confirmButton, .cancelButton {
    padding: 10px 20px;
    font: 400 17px/1 Roboto, sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .confirmButton {
    background-color: #dd1515;
    color: white;
  }
  
  .cancelButton {
    background-color: #ccc;
    color: black;
  }
  
  /* Transições suaves */
  .modalActions button:hover {
    opacity: 0.8;
  }