.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 18%;
  background: linear-gradient(90deg, rgba(20,34,71,1) 0%, rgba(20,47,97,255) 100%);
  padding: 20px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuOpcoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  /* Espaço entre os itens */
}

.menuOpcoes a {
  text-decoration: none;
  width: 100%;
}

.mainContent {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 80%;
}

.card {
  background: linear-gradient(90deg, rgba(20,57,118,255) 0%, rgba(20,98,202,255) 100%);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font: 400 36px/1 Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 80%;
}

.card span{
  margin-top: 10%;
  font: 400 72px/1 Roboto, sans-serif;
}

.menuItem {
  background: none;
  border: none;
  color: white;
  padding: 20px;
  /* Maior espaço para ocupar verticalmente */
  text-align: left;
  cursor: pointer;
  font: 400 24px/1 Roboto, sans-serif;
  /* Aumentado para melhor visibilidade */
  width: 100%;
  border-radius: 10px;
  transition: background 0.3s;
}

.menuItem:hover {
  background-color: #34495e;
  transform: scale(1.02);
}