.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #156cdd;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuOpcoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
  /* Espaço entre os itens */
}

.menuOpcoes a {
  text-decoration: none;
  width: 100%;
}

.mainContent {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  /* Alinha os cards verticalmente */
  gap: 60px;
  width: 70%;
  /* Ajuste de largura para deixar os cards maiores */
}

.card {
  background-color: #3486f2;
  color: white;
  padding: 30px;
  /* Mais espaço interno */
  border-radius: 8px;
  text-align: center;
  font-size: 40px;
  /* Tamanho de fonte aumentado */
  flex: 1;
}

/* Estilos originais para reutilização */
.menuPrincipal {
  background-color: #fff;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.5px;
  font: 400 24px/1 Roboto, sans-serif;
  height: 100vh;
}

.menuItem {
  background: none;
  border: none;
  color: white;
  padding: 20px;
  /* Maior espaço para ocupar verticalmente */
  text-align: left;
  cursor: pointer;
  font-size: 24px;
  /* Aumentado para melhor visibilidade */
  width: 100%;
  border-radius: 4px;
  transition: background 0.3s;
}

.menuItem:hover {
  background-color: #34495e;
  transform: scale(1.02);
}