.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 18%;
  background: rgba(20,34,71,1);
  padding: 20px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuOpcoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  /* Espaço entre os itens */
}

.menuOpcoes a {
  text-decoration: none;
  width: 100%;
}

.mainContent {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  /* Alinha os cards verticalmente */
  gap: 35px;
  width: 70%;
  /* Ajuste de largura para deixar os cards maiores */
}

.card {
  background: rgba(20,34,71,1);
  color: white;
  padding: 30px;
  /* Mais espaço interno */
  border-radius: 10px;
  text-align: center;
  font: 400 36px/1 Roboto, sans-serif;
  /* Tamanho de fonte aumentado */
  flex: 1;
}

.menuItem {
  background: none;
  border: none;
  color: white;
  padding: 20px;
  /* Maior espaço para ocupar verticalmente */
  text-align: left;
  cursor: pointer;
  font: 400 24px/1 Roboto, sans-serif;
  /* Aumentado para melhor visibilidade */
  width: 100%;
  border-radius: 10px;
  transition: background 0.3s;
}

.menuItem:hover {
  background-color: #34495e;
  transform: scale(1.02);
}