/* OrderServiceForm.module.css */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
  }
  
  .form {
    max-height: 95vh;
    max-width: 100%;
    margin: 40px auto;
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #f9f9f9;
  }
  
  .formGroup {
    margin-bottom: 5px;
  }

  .formRow {
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="date"],
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: 400 17px/1 Roboto, sans-serif;
    color: #666;
  }
  
  textarea {
    resize: vertical;
  }
  
  .formActions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .submitButton, .cancelButton, .deleteButton {
    background-color: #156cdd;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
    font: 400 17px/1 Roboto, sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 16px 12px;
    width: 100%;
  }

  .cancelButton{
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .modalOverlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Estilos do modal */
  .modalContent2 {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  /* Estilos dos botões de ação do modal */
  .modalActions2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .confirmButton2, .cancelButton2 {
    padding: 10px 20px;
    font: 400 17px/1 Roboto, sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .confirmButton2 {
    background-color: #dd1515;
    color: white;
  }
  
  .cancelButton2 {
    background-color: #ccc;
    color: black;
  }
  
  /* Transições suaves */
  .modalActions2 button:hover {
    opacity: 0.8;
  }