.orderServicePage {
    background-color: #fff;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 56px;
    display: flex;
  }

  .listTitle {
    color: #000;
    letter-spacing: 0.5px;
    font: 400 24px/1 Roboto, sans-serif;
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 0px 44px;
  }

  .orderServicePage h3{
    font: 400 17px/1 Roboto, sans-serif;
    padding: 0px 44px;
  }

  .filterContainer{
    padding: 0px 44px;
    font: 400 17px/1 Roboto, sans-serif;
    display: flex;
    gap: 10px; 
    align-items: center; 
  }

  .filterContainer label{
    margin-bottom: 5px;
    font-weight: normal;
  }

  .filterContainer input{
    width: auto; 
    flex: 1; 
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: 400 17px/1 Roboto, sans-serif;
    color: #666;
    margin-bottom: 40px;
  }
  
  .mainContent {
    flex: 1;
    padding: 0 44px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #156cdd;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 10px;
    font: 400 17px/1 Roboto, sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
  }
  
  .backButton {
    align-self: center;
    background-color: #156cdd;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
    font: 400 17px/1 Roboto, sans-serif;
    letter-spacing: 0.5px;
    margin-top: 18.75px;
    padding: 16px 12px;
    text-align: center;
    width: 375px;
  }
